.elem{
    width: 300px;
    border: 1px solid red;
    padding: 10px;
}

.elem1{
    width: 500px;
        border: 1px solid green;
        text-align: justify;
        padding: 30px;
        margin-bottom: 20px;
}