/* p:first-of-type {
	color: red;
}


p:last-of-type{
    color: green;
} */


/* h2:nth-of-type(2) {
	color: red;
}

p:nth-last-of-type(odd) {
	color: green;
} */


h2:only-of-type {
	color: red;
}



